@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

body{
    background-color: rgb(1, 3, 22);
}

header{
    text-align: center;
    margin: 60px;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
}

.grid-container{
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

article p{
    color: #fff;
}